h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  line-height: normal;
}

// this seems weird but we'll go with it for the moment
h1,
h2,
h3,
h4,
h5,
h6 {
  @include media-breakpoint-down(lg) {
    font-size: 3rem;
  }
}
