// Colors
$brand-blue: #2d39ff;
$brand-violet: #c525fe;
$brand-turquoise: #01e3fe;
$brand-green: #08fe01;

$primary-blue: #2e2eff;
$primary-violet: rgba(197, 37, 254, 0.3);
$primary-black: #000000;
$primary-grey: rgba(0, 0, 0, 0.5);
$primary-grey2: rgba(0, 0, 0, 0.3);

$blue: #2d39ff;
$turquoise: #00efff;
$green: #00d02d;

// Bootstrap config variables
$include-column-box-sizing: true !default;

$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 10;
$h2-font-size: $font-size-base * 7;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 7;
$h5-font-size: $font-size-base * 5;
$h6-font-size: $font-size-base * 4;
