// Colors
$blue: #192756;
$orange: #E7B261;
$violet: #B7C0EE;
$grey: #DEDEDE;
$red: #A30015;
$green: #2A9D8F;

// Bootstrap config variables
$include-column-box-sizing: true !default;

$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 10;
$h2-font-size: $font-size-base * 7;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 7;
$h5-font-size: $font-size-base * 5;
$h6-font-size: $font-size-base * 4;