@use "../../../../sass/variables" as *;
@use "../../../../sass/breakpoints" as *;

.about-us-top-section {
  position: relative;
  .top-image {
    max-width: 40rem;
    text-align: right;
    display: block;
    margin-left: auto;
  }
  .mbc-page-title {
    margin: 2rem 0;
  }

  @media screen and (min-width: $screen-lg) {
    .top-image {
      position: absolute;
      top: -15rem;
      right: 0;
      max-width: 60%;
      max-height: 70vh;
      img {
        object-fit: contain !important;
        object-position: right;
      }
    }
    .mbc-page-title {
      margin: 20rem 0;
    }
  }
  @media screen and (min-width: $screen-xxl) {
    .top-image {
      max-height: 55vh;
    }
  }
}
