@use "../../../sass/variables"as *;
@use "../../../sass/breakpoints"as *;

.mbc-header {

    // hamburger menu
    #nav-hamburger {
        margin-top: 0.3rem;
        border: none;
        appearance: none;
        background: transparent;
        min-width: 2.5rem;
        min-height: 2rem;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;

        //hamburger lines
        span {
            display: block;
            position: absolute;
            height: 0.2rem;
            width: 100%;
            background: #000;
            border-radius: 0.1rem;
            left: 0;
            transform: rotate(0deg);
            transition: 0.3s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 0.8rem;
            }

            &:nth-child(3) {
                top: 0.8rem;
            }

            &:nth-child(4) {
                top: 1.6rem;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 0.8rem;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 0.8rem;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }

}